* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono";
}
body {
  background-image: linear-gradient(135deg, #faf279, #ffc40d);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 450px;
  height: 700px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 3px solid #008084;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2),
    0 15px 30px 0 rgba(0, 0, 0, 0.19);
}

.display {
  width: 450px;
  height: 150px;
  background-color: #008086;
  display: flex;
  align-items: center;
  padding-right: 15px;
  padding-right: 15px;
  justify-content: end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.display > * {
  font-size: 70px;
  color: #ffffff;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.buttons button {
  width: 80px;
  height: 80px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 100px;
  border: none;
}

.bottom-buttons {
  width: 440px;
  height: 100px;
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.operator,
#equal,
#clear {
  background-color: #0ba4b3;
  color: #ffffff;
}
.bottom-buttons button {
  width: 150px;
  height: 65px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 100px;
  border: none;
}

button {
  background-color: #ecf0f1;
  box-shadow: 0 3px darkgray;
  color: #282726;
}
button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

#equal button:hover,
#clear button:hover {
  background-color: #9acdff;
}

img {
  width: 50px;
  height: 30px;
}
